[Unit]
Description=city node backend service
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/data/apps/city-node/server/api/city_node_api
[Install]
WantedBy=multi-user.target
