[Unit]
Description=the pioneer task service
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/wkspace/into-trader/graph-event-server/event-server
[Install]
WantedBy=multi-user.target
