[Unit]
Description=the pioneer task service
StartLimitBurst=5
StartLimitIntervalSec=60
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/wkspace/city-node/server/pioneerDailyTask
[Install]
WantedBy=multi-user.target
