[Unit]
Description=the pioneer task service
#StartLimitBurst=5
[Service]
Type=simple
Restart=always
#StartLimitIntervalSec=60
RestartSec=1
User=root
ExecStart=/wkspace/city-node/server/pioneerDailyTask
[Install]
WantedBy=multi-user.target
